<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Ooops!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-4 w-50 h-75 mx-auto">
    <span class="qodef-404-subtitle">Not Found</span>
    <h2 class="qodef-404-title">404 Error page</h2>
    <p class="qodef-404-text">The page you are looking for doesn't exist. It may have been moved or removed altogether.
        Please try searching for some other page, or return to the website's homepage to find what you're looking for.
    </p>
    <div class="btn">
        <a href="/" target="_self">
            <span class="text-white">Back to home</span>
        </a>
    </div>
</div>